.row.heading {
    text-align: left; /* Align text to the left within this container */
  }
  
   .row{
    display: flex;
    margin: -15px;
   }
  
   .raffles > .row{
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    margin: 1rem;
    display: flex;
   }
  
   /* for hovering */
   .raffle-container {
    position: relative;
  }
  
  .raffle-info {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .raffle-container:hover .raffle-info {
    display: block;
  }

  .raffle-image {
    width: 258px;
    height: 367px;
    margin-right: 25px;
  }
  